<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Towns Liste</title>
</head>
<body>
    <h1>Towns Liste :</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Department</th>
                <th>Department Number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="town : ${towns}">
                <td th:text="${town.nom}">Town Name</td>
                <td th:text="${town.nbHabitant}">Population</td>
                <td th:text="${town.departement.nom}">Department Name</td>
                <td th:text="${town.departement.numero}">Department Number</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
